html {
  font-size: 100px;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 255);
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: #f58231;
}
.jump {
  text-decoration: none;
  font-size: 30px;
  position: absolute;
  top: 2rem;
}
.next {
  right: 2rem;
}
.up {
  left: 2rem;
}